commands:
  create_post_dir:
    command: "mkdir /home/ec2-user/shared/"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      wget -O /tmp/getsync.tar.gz "http://download.getsyncapp.com/endpoint/btsync/os/linux-glibc23-x64/track/stable"
      cp -f /var/app/current/getsync.config /tmp/getsync.config
      cd /tmp/; tar xzvf getsync.tar.gz
      cd /tmp/; ./btsync --config getsync.config --log /tmp/log
